<!-- Start Timeline Area -->
<div class="timeline-area bg-color1">
    <div class="timeline-wrapper section-spacing ">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2">Future Roadmap</h2>
                <p>Dates are aspirational and subject to change without notice -  <a href="/pages/contact" style="color: #cc0700">Contact</a> us for more information </p>
            </div>

            <div class="timeline">
                <ul>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">Generated Ionic Mobile Apps</h4>
                            <p class="timeline-time">September 2019</p>
                            <p class="timeline-desc">Produce a mobile app for both Android and IOS just be clicking a button </p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">Generated App - Sql Server Support</h4>
                            <p class="timeline-time">September 2019</p>
                            <p class="timeline-desc">Use your installed RDMS </p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">Google GKE Deployments</h4>
                            <p class="timeline-time">October 2019</p>
                            <p class="timeline-desc">Both Geppetto and generated application running on GKE </p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">Azure AKS Deployments</h4>
                            <p class="timeline-time">November 2019</p>
                            <p class="timeline-desc">With this ability we cover the big three cloud providers </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Timeline Area -->